<div class="loading" *ngIf="loading">Loading&#8230;</div>
<div class="page-container ps-4">
  <h2 class="page-title">Formulario reactivo</h2>
  <section class="form-container pt-5 pb-5 ps-5 pe-5">
    <div class="alert alert-success mb-3" role="alert" *ngIf="formSuccess">
      ¡Éxito! El formulario se ha enviado con éxito.
    </div>
    <div class="alert alert-danger mb-3" role="alert" *ngIf="formError">
      ¡Error! Algo salió mal. Por favor, inténtalo de nuevo.
    </div>    
    <form [formGroup]="personalInformationForm" (ngSubmit)="onSubmit()" class="row">

      <mat-form-field appearance="outline" class="mb-2">
        <mat-label>Nombres:</mat-label>
        <input matInput formControlName="nombres" placeholder="Nombres" required>
        <mat-error *ngIf="personalInformationForm.get('nombres')!.hasError('spacing')">No se permiten espacios al final.</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="mb-2">
        <mat-label>Apellidos:</mat-label>
        <input matInput formControlName="apellidos" placeholder="Apellidos" required>
        <mat-error *ngIf="personalInformationForm.get('apellidos')!.hasError('spacing')">No se permiten espacios al final.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado Civil</mat-label>
        <mat-select formControlName="estadoCivil">
          <mat-option selected [value]="null">Prefiero no responder</mat-option>
          <mat-option *ngFor="let status of maritalStatuses" [value]="status.value">{{ status.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-checkbox class="mb-2" formControlName="fumas">¿Fumas?</mat-checkbox>
      
      <div class="mb-2">
        <mat-checkbox formControlName="actualmentePracticasLectura">¿Actualmente Practicas Lectura?</mat-checkbox>
        <button mat-icon-button (click)="addNewBook()" *ngIf="personalInformationForm.get('actualmentePracticasLectura')!.value">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
 
      <div class="mb-2" formArrayName="librosLeidosUltimosTresMeses">
        <div *ngFor="let book of booksReadLastMonths.controls; let i = index">
          <mat-form-field appearance="outline" class="w-75">
          <mat-label>Libro {{i + 1}}:</mat-label>
            <input matInput [formControlName]="i" placeholder="Libro {{ i + 1 }}" required>
            <mat-error *ngIf="booksReadLastMonths.controls[i].hasError('required')">Campo requerido.</mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="deleteBook(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    
      <div class="ps-2 pe-2">
        <button mat-raised-button class="color-bg-primary text-white w-100" type="submit" [disabled]="personalInformationForm.invalid">Enviar</button>
      </div>

    </form>
  </section>
  
</div>